@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: FiraGo;
    src: url("./assets/fonts/FiraGO-Regular.woff2") format("opentype");
  }

@layer base {
    html {
        background-color: #F3F2FA;
        font-family: 'FiraGO', 'sans-serif';
    }
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
}

@layer utilities {
    .my_container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px 76px;
    }
}